.container-footer {
	background: #009900;
	color: white;
	display: flex;
	padding: 30px;
	text-align: center;
	justify-content: space-around;
}

.container-footer footer > * {
	margin: 10px 0;
}

.container-footer a {
	background: none;
	text-decoration: underline;
	color: white;
	letter-spacing: normal;
	padding: 10px 5px;
	display: inline;
	transition: all 0.2s;
}

.container-footer a:hover {
	background: rgba(0, 0, 0, 0.3);
}

.container-footer .social-icon {
	padding: 10px;
}

.social a {
	margin: 10px;
	text-align: center;
}

.social a:hover {
	background: none;
}

.social-icon img:hover {
	transition-duration: 0.5s;
	transform: scale(1.2);
}

.container-footer .contact {
	display: flex;
	padding: 0;
	width: 100%;
}

.container-footer footer > span,
.container-footer footer > a {
	color: #8cd98c;
}
