/* Home */
.services {
	border: 1px solid #708067;
	background: #cccccc;
	flex-shrink: 1;
	display: flex;
	flex-direction: column;
}

.services-container h3 {
	text-align: center;
	margin: 5%;
	color: #4a5344;
}

p,
q {
	padding: 0 10%;
}

blockquote {
	margin: 50px 20%;
}

.services-container {
	display: flex;
	justify-content: space-around;
	background: white;
	width: 100vw;
}

.services img {
	margin: 0 5px;
	max-width: 100%;
}

.services span {
	display: block;
	text-align: center;
	margin: 5px;
	color: #808080;
}

.services span a {
	background: none;
	color: #808080;
	letter-spacing: normal;
	padding: 0;
	display: inline;
	transition: all 0.2s;
}

.services span a:hover {
	text-decoration: underline;
	color: #666666;
}

/* mobile screen size re-ordering */
@media (max-width: 500px) {
	/* Home page images */
	.services-container {
		flex-direction: column;
	}
}
