/* color theme 
	primary #8cd98c
	Primary alt #009900
	secondary #9999ff
*/

html {
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

body {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
		"Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
		"Helvetica Neue", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	margin: 0;
	background: #f2f2f2;
	color: #666666;
}

header {
	background-color: #358600;
	display: flex;
	justify-content: space-between;
	color: #ffffff;
}

h1,
h3 {
	margin-top: 0;
	margin-left: 10%;
}

nav {
	margin-right: 10%;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}

ul {
	display: flex;
	justify-content: flex-end;
	list-style: none;
	margin: 0;
	padding: 0;
}

/* li in nav bar*/
nav ul .navButton {
	display: inline-block;
}

.navButton a {
	border-radius: 2px;
}

.phone {
	display: flex;
	justify-content: center;
}

.phone a,
.phone h3 {
	flex-basis: 40%;
}

.phone a {
	background: none;
}

.phone h3 {
	flex-shrink: 0;
	padding: 20px 5px 20px 10px;
	margin-left: 0;
}

a {
	background: rgba(0, 0, 0, 0.2);
	color: white;
	width: 100%;
	letter-spacing: 2px;
	text-decoration: none;
	padding: 20px 10px;
	display: inline-block;
	text-align: center;
	transition: all 0.2s;
}

a:hover {
	background: rgba(0, 0, 0, 0.3);
}

.active {
	background-color: rgba(0, 0, 0, 0.4);
}

/* mobile screen size re-ordering */
@media (max-width: 500px) {
	/* Nav Bar */
	header {
		display: flex;
		flex-direction: column;
		text-align: center;
	}
	nav {
		margin: 0 auto;
	}

	/* Header phone number */
	.phone {
		flex-direction: column;
	}
	.phone h3 {
		flex-shrink: 0;
		padding: 10px 5px;
		margin-bottom: 0;
		text-align: center;
	}
	.phone a {
		padding-top: 5px;
		text-align: center;
	}
}
